@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  overflow-x: hidden;/* sem barra horizontal */
  background: #4E1884; 
}
body::-webkit-scrollbar {
  width: 12px;           
}
body::-webkit-scrollbar-track {
  background: #1C0522;       
}
body::-webkit-scrollbar-thumb {
  border: 3px solid #4E1884;  
  border-radius: 20px;       
  background-color: #734bb4;    
}

/* HOME */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  list-style: none;
  margin-left: 20px;
}
header ul li a {
  text-decoration: none;
  color: #fff;
  padding: 6px 15px;
  border-radius: 20px;
}
header ul li a:hover, 
header ul li a.active_home{
  background: #fff;
  color: #2b1055;
}

/* SECTION */
section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 100; /* degradê nas quebras de página */
}
section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#moon {
   mix-blend-mode: screen; /* parte que modifica uma imagem */
  /*  background-blend-mode: darken; */
}
section img#stars {
  mix-blend-mode: screen; /* parte que modifica uma imagem */
}
section img#montains_front {
  z-index: 10;
}
#title_home{
    position: absolute;
    right: -350px; 
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
}
#btn{
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background: #fff;
  color: #2b1055;
  font-size: 1.5em;
  z-index: 9;
  transform: translateY(100px);
}
/* ABOUT US */
.about{
  position: relative;
  padding: 6.25rem;
  background: #1c0522;
  display: flex;
}
.about h1{
  font-size: 1.5em;
  margin-bottom: 0.3rem;
  color: #734bb4;
}
.about h2{
  font-size: 3em;
  margin-bottom: 0.625rem;
  color: #fff;
}
.about p{
  font-size: 1.2em;
  color: rgb(214, 213, 213);
  text-align: justify;
}
.about__right{
  padding-left: 4rem;
  margin-top: 5.5rem;
}
.author_pic{
  margin-bottom: 0.5rem;
}
.author{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  animation: float 5s ease-in-out infinite;
}
.instagram{
  animation-delay: 1s;
  box-shadow: 10px 5px 5px rgb(22, 10, 24);
}
.linkedin{
  animation-delay: 2s;
  box-shadow: 10px 5px 5px rgb(22, 10, 24);
}
.facebook{
  box-shadow: 10px 5px 5px rgb(22, 10, 24);
  border-radius: 1.5rem;
}

@keyframes float {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-8px);
  }
  100%{
    transform: translateY(0);
  }
}

/* SYSTEM */

.system{
  background: linear-gradient(to bottom, #1c0522, #110214); 
  width: 100%;
  padding: 2rem 6.25rem 5rem 6.25rem;
  position: relative;
  align-items: center;
  overflow: hidden;
}
.system h2{
  width: max-content;
  font-size: 3em;
  margin-bottom: 0.625rem;
  color: #fff;
  text-align: center;
  border-bottom: 5px solid #734bb4;
  border-width: 5px;
  margin-bottom: 1rem;
}
.system p{
  font-size: 1.2em;
  color: rgb(214, 213, 213);
  text-align: justify;
}
.keep{
  text-align: center;
  color: rgb(141, 141, 141);
  font-weight: 200;
  margin-bottom: 5.1rem;
  margin-top: 4rem;
  font-size: 1.2em;
}

/* SOLAR SYSTEM */
.cont_sys{
  background-image: url(/assets/images/stars.png);
  background-color: #110214;
  height: 110vh;
}
#solar_system{
  position: relative;
  width: 150px;
  height: 500px;
  margin: 0 auto;
}
.area{
  position: absolute;
  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
  transition: all 5s ease-in-out;
}
#solar_system:hover .area{
  transform: rotateZ(360deg);
} 

.solar{
  position: absolute;
  width: 100%;
  height: 100%;
}
.solar img{
  display: flex;
  margin: 0 auto;
}
/* .sun{
  position: absolute;
}  */
.mercurio{
  margin-top: 10rem;
  box-shadow: #1C0522; 
}
.venus{
  margin-top: 13rem;
}
.terra{
  margin-top: 17rem;
}
.marte{
  margin-top: 21rem;
}
.jupiter{
  margin-top: 25rem;
}
.saturno{
  margin-top: 30rem;
}
.urano{
  margin-top: 35rem;
}
.netuno{
  margin-top: 39rem;
}
